/* Example google font import */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/* Target the title element and apply the following styles: */

#title {
  background-color: rgb(248, 190, 222);
  color: #c9487a;
  padding: 5px;
  margin: 20px;

  border-style: solid;
  border-color: #f3aeae;
  border-radius: 50px;

  font-family: 'Lobster', cursive;
  font-size: 50px;
  text-align: center;
}

#button {
  background-color: rgb(235, 209, 224);
  color: #ffffff;

  border-color: #fcabc6;
  border-style: solid;

  font-family: 'Archivo Narrow', cursive;
  font-style: italic;
  font-size: 17px;

  box-shadow: 0 5px #b4b4b4;
}

#button:hover {
  background-color: #d77199;
  cursor: pointer;
}

.flavour {
  color: #7962cc;
}

#question {
  color: #aa3f5a;
}

img {
  margin: 15px;
  border: 2px solid #c152dd;
  border-radius: 20px;
}